@charset "UTF-8";
.resetForm{
  border: solid 1px;
  width: 500px;
  height: 300px;
  margin-left: 450px;
}
#resetText{
  margin-left: 450px;
  margin-top: 50px;
  font-size: 30px;
}
form{
  margin-left: 120px;
}
